{% extends "learning_logs/base.html" %} {% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>

    <p class="lead">Hello, and welcome!
        <br>Please feel free to make your very own journal, and keep a list of the topics you're interested in.
        <br>Whenever you learn something new, come back here, revise your previous topics, and add new entries for every new topic you have mastered. Keep yourself up-to-date with your learnings, hobbies and interests. <br><br>This is Your Log.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
</div>
{% endblock page_header %}